@import url("normalize.css");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-light: #fff;
  --color-dark: #1f1f1f;
  --color-silver-sand: #bec2c5;
  --color-alto: #e0e0e0;
  --color-primary: #80a584;
  --color-secondary: #fc6904;
  --color-thindly: #7099b9;
  --color-scorpion: #606060;
  --color-cararra: #edeee9;

  /* Sizes */

  --design-mw: 914px;
  --container-horizontal-offset: 20px;
  --mw: calc(var(--design-mw) + var(--container-horizontal-offset) * 2);
}

/* Fonts */

@font-face {
  font-family: SegoeUI;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/SegoeUI.woff") format("woff"),
    url("../fonts/SegoeUI.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: SegoeUI;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/SegoeUI-SemiBold.woff") format("woff"),
    url("../fonts/SegoeUI-SemiBold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: SegoeUI;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/SegoeUI-Bold.woff") format("woff"),
    url("../fonts/SegoeUI-Bold.woff2") format("woff2");
  font-display: swap;
}

/* Default styles */

body {
  font-family: SegoeUI, sans-serif;
  background-color: var(--color-light);
}

.container {
  max-width: var(--mw);
  padding: 0 var(--container-horizontal-offset);
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

.btn-reset {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.list-reset {
  list-style: none;
}

fieldset {
  padding: 0;
  border: none;
}

/* Components */

.title {
  font-weight: 600;
  line-height: 1.31;
}

.title--primary {
  color: var(--color-dark);
}

.title--xl {
  font-size: 22px;
}

.title--md {
  font-size: 18px;
}

.title--sm {
  font-size: 16px;
}

.text {
  line-height: 1.33;
}

.text--md {
  font-size: 15px;
}

.text--sm {
  font-size: 14px;
}

.text--xs {
  font-size: 13px;
}

.text--primary {
  color: var(--color-dark);
}

.text--secondary {
  color: #949597;
}

.text--thindly {
  color: var(--color-scorpion);
}

.link {
  position: relative;
  color: var(--color-thindly);
  text-decoration: none;
}

.link::after {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 1px;
  content: "";
  background-color: currentcolor;
}

.checkbox,
.radio {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox__input,
.radio__input {
  position: absolute;
  appearance: none;
}

.checkbox__display {
  display: inline-block;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin-right: 14px;
  cursor: pointer;
  background-color: var(--color-light);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
  border: 1px solid var(--color-cararra);
  border-radius: 3px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.checkbox__text {
  font-size: 13px;
  line-height: 1.46;
  color: var(--color-scorpion);
}

.checkbox__text a {
  color: currentcolor;
}

.checkbox__input:checked ~ .checkbox__display {
  background-color: var(--color-thindly);
  background-image: url("../images/tick.svg");
  border-color: var(--color-thindly);
}

.checkbox--sm .checkbox__display {
  width: 17px;
  height: 17px;
  background-size: 9px;
}

.checkbox--gray .checkbox__display {
  border-color: var(--color-silver-sand);
}

.checkbox--gray .checkbox__text {
  color: #8b8b8b;
}

.checkbox--gray .checkbox__input:checked ~ .checkbox__display {
  background-color: var(--color-silver-sand);
  border-color: var(--color-silver-sand);
}

.radio__display {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 17px;
  margin-right: 10px;
  border: 3px solid var(--color-silver-sand);
  border-radius: 100%;
  transition: border-color 0.3s ease-in-out;
}

.radio__display::after {
  display: inline-block;
  width: 5px;
  height: 5px;
  content: "";
  background-color: var(--color-thindly);
  border-radius: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.radio__text {
  font-size: 15px;
  color: var(--color-dark);
  transition: color 0.3s ease-in-out;
}

.radio__input:checked ~ .radio__display {
  border-color: var(--color-thindly);
}

.radio__input:checked ~ .radio__display::after {
  opacity: 1;
}

.radio__input:checked ~ .radio__text {
  color: var(--color-thindly);
}

.counter {
  display: inline-grid;
  grid-template-columns: repeat(3, 34px);
  grid-auto-rows: 36px;
  align-items: center;
  background-color: var(--color-light);
  border: 1px solid var(--color-cararra);
  border-radius: 3px;
}

.counter__display {
  order: 1;
  height: 100%;
  font-size: 13px;
  color: var(--color-dark);
  text-align: center;
  border: none;
  outline: none;
  appearance: textfield;
}

.counter__display::-webkit-outer-spin-button,
.counter__display::-webkit-inner-spin-button {
  appearance: none;
}

.counter__action {
  height: 100%;
  font-size: 20px;
  line-height: 1;
  color: var(--color-dark);
  cursor: pointer;
}

.counter__action--decrement {
  order: 0;
}

.counter__action--increment {
  order: 2;
}

.info-btn {
  width: 22px;
  height: 22px;
  background-image: url("../images/info.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 10px;
  border: 2px solid var(--color-thindly);
  border-radius: 100%;
}

.btn {
  display: inline-block;
  border-radius: 5px;
}

.btn--primary {
  color: var(--color-light);
  background-color: var(--color-primary);
}

.card {
  padding: 0 var(--container-horizontal-offset);
  margin: 0 calc(var(--container-horizontal-offset) * -1);
  box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
}

.input,
.textarea {
  padding: 15px;
  font-size: 15px;
  color: #635e5e;
  background-color: #f5f6f7;
  border: none;
  border-radius: 10px;
  outline: none;
}

.textarea {
  width: 100%;
  padding: 19px 30px 23px 15px;
  line-height: 1.33;
  resize: none;
}

.select {
  position: relative;
  cursor: pointer;
}

.select--opened .select__display {
  border-radius: 10px 10px 0 0;
}

.select--opened .select__display::after {
  transform: rotate(180deg);
}

.select--opened .select__items {
  visibility: visible;
  opacity: 1;
}

.select__display {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
  font-size: 15px;
  color: var(--color-dark);
  background-color: #f5f6f7;
  border-radius: 10px;
  transition: border-radius 0.3s ease-in-out;
}

.select__display::after {
  display: inline-block;
  width: 10px;
  height: 6px;
  content: "";
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  transition: transform 0.3s ease-in-out;
}

.select__items {
  position: absolute;
  bottom: 0;
  z-index: 100;
  width: 100%;
  height: 200px;
  overflow-y: auto;
  visibility: hidden;
  background-color: #f5f6f7;
  border: 1px solid var(--color-alto);
  border-radius: 0 0 10px 10px;
  opacity: 0;
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: translateY(100%);
}

.select__item {
  padding: 15px;
  font-size: 15px;
  color: var(--color-dark);
}

.select__item--active {
  background-color: var(--color-alto);
}

.select__item:not(:last-child) {
  border-bottom: 1px solid var(--color-alto);
}

.message--danger {
  display: flex;
  align-items: center;
  max-width: 282px;
  padding: 12px 20px;
  margin-top: 29px;
  margin-left: calc(var(--container-horizontal-offset) * -1);
  font-size: 14px;
  line-height: 1.32;
  color: var(--color-light);
  background-color: var(--color-secondary);
  border-radius: 0 10px 10px 0;
}

.message--danger::before {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  content: "";
  background-image: url("../images/danger.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

[data-tab] {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: translate(-10000px);
}

[data-tab="true"] {
  position: static;
  visibility: visible;
  opacity: 1;
  transform: none;
}

/* - Partials - */

/* mtcheck-display */

.mtcheck-display {
  padding-top: 30px;
}

.mtcheck-display__title {
  margin-bottom: 26px;
}

/* mtcheck-products */

.mtcheck-products__head {
  margin-bottom: 28px;
}

.mtcheck-products__head .checkbox {
  margin-bottom: 6px;
}

.mtcheck-products__actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 34px;
  margin: 0 -10px -4px 0;
}

.mtcheck-products__action {
  margin: 0 10px 4px 0;
}

.mtcheck-products__info {
  display: none;
  flex-basis: 293px;
  justify-content: space-between;
  padding: 0 25px;
  margin-left: auto;
}

.mtcheck-product {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 0 26px;
  border-bottom: 1px solid var(--color-cararra);
}

.mtcheck-product__left,
.mtcheck-product__right {
  display: flex;
  justify-content: space-between;
}

.mtcheck-product__left {
  align-items: center;
  margin-bottom: 15px;
}

.mtcheck-product__right {
  align-items: flex-start;
  width: 100%;
}

.mtcheck-product .checkbox {
  position: absolute;
  top: 24px;
  left: -12px;
}

.mtcheck-product .checkbox__display {
  width: 25px;
  height: 25px;
}

.mtcheck-product__image {
  display: flex;
  flex: 0 0 80px;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin-right: 14px;
  background-color: #f8f8f8;
  border-radius: 8px;
}

.mtcheck-product__image img {
  width: 100%;
}

.mtcheck-product__name {
  margin-bottom: 5px;
}

.mtcheck-product__properties {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -14px -4px 0;
}

.mtcheck-product__property {
  margin: 0 14px 4px 0;
}

.mtcheck-product__sign {
  display: block;
  margin-top: 12px;
  color: var(--color-secondary);
}

.mtcheck-product__wrapper {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.mtcheck-product__price {
  margin-right: 15px;
  font-weight: 600;
}

.mtcheck-product__price span {
  font-size: 13px;
  font-weight: 400;
}

.mtcheck-product__restore {
  margin-right: 18px;
}

.mtcheck-product__remove {
  position: relative;
  width: 13px;
  height: 13px;
  cursor: pointer;
  transform: rotate(45deg);
}

.mtcheck-product__remove::before,
.mtcheck-product__remove::after {
  position: absolute;
  top: 50%;
  display: block;
  width: 100%;
  height: 3px;
  content: "";
  background-color: var(--color-cararra);
  transform: translateY(-50%);
}

.mtcheck-product__remove::after {
  transform: translateY(-50%) rotate(90deg);
}

.mtcheck-products__summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
}

.mtcheck-products__count {
  font-weight: 400;
}

.mtcheck-products__sum span {
  font-size: 15px;
  font-weight: 400;
}

.mtcheck-product--deleted .mtcheck-product__info {
  color: var(--color-silver-sand);
  text-decoration: line-through;
}

/* mtcheck-user */

.mtcheck-user {
  padding: 34px var(--container-horizontal-offset) 30px;
}

.mtcheck-user__head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.mtcheck-user__column {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 -12px 5px 0;
}

.mtcheck-user__title,
.mtcheck-user .info-btn,
.mtcheck-user__buy {
  margin: 0 12px 12px 0;
}

.mtcheck-user__buy {
  padding: 9px 18px;
  font-size: 14px;
}

.mtcheck-user__description {
  margin-bottom: 20px;
}

.mtcheck-user__status-current,
.mtcheck-user__status-change {
  display: block;
}

.mtcheck-user__status-current {
  margin-bottom: 2px;
}

/* mtcheck-register */

.mtcheck-register__type {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -28px 17px 0;
}

.mtcheck-register__type .radio {
  margin: 0 28px 13px 0;
}

.mtcheck-register .input {
  width: 100%;
}

.mtcheck-register .input:not(:last-child),
.mtcheck-login .input:not(:last-child),
.mtcheck-register .select {
  margin-bottom: 12px;
}

.mtcheck-register .input--min {
  width: 83%;
}

.mtcheck-register__data {
  margin-bottom: 25px;
}

.mtcheck-register__location {
  margin-bottom: 29px;
}

.mtcheck-register__comment {
  margin-bottom: 31px;
}

.mtcheck-register__password {
  margin-bottom: 29px;
}

.mtcheck-register__password .text {
  margin-bottom: 14px;
}

.mtcheck-register__permits .checkbox:not(:last-child) {
  margin-bottom: 12px;
}

/* mtcheck-login */

.mtcheck-login__data {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.mtcheck-login [type="submit"] {
  padding: 14px 0;
  border-radius: 10px;
}

.mtcheck-pay,
.mtcheck-delivery {
  padding: 35px var(--container-horizontal-offset) 38px;
}

/* mtcheck-delivery */

.mtcheck-delivery__head {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.mtcheck-delivery__title {
  margin-right: 12px;
}

.mtcheck-delivery__description {
  margin-bottom: 23px;
}

.mtcheck-delivery__type {
  width: 100%;
}

.mtcheck-delivery__type .radio__display {
  margin-right: 19px;
}

.mtcheck-delivery__type .radio__text {
  max-width: 155px;
}

.mtcheck-delivery__type-price {
  margin-left: auto;
}

.mtcheck-delivery__type:not(:last-child) {
  margin-bottom: 20px;
}

/* mtcheck-pay */

.mtcheck-pay__head {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.mtcheck-pay__title {
  margin-right: 12px;
}

.mtcheck-pay__description {
  margin-bottom: 23px;
}

.mtcheck-pay__type .radio__text {
  max-width: 160px;
}

.mtcheck-pay__type:not(:last-child) {
  margin-bottom: 20px;
}

/* mtcheck-confirm */

.mtcheck-confirm {
  padding: 31px var(--container-horizontal-offset) 58px;
}

.mtcheck-confirm__head {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.mtcheck-confirm__title {
  margin-right: 12px;
}

.mtcheck-offers {
  margin-bottom: 32px;
}

.mtcheck-offers__coupon,
.mtcheck-offers__certificate {
  display: flex;
}

.mtcheck-offers__coupon {
  margin-bottom: 10px;
}

.mtcheck-offers input {
  flex: 1;
  border-radius: 5px 0 0 5px;
}

.mtcheck-offers button {
  position: relative;
  flex-basis: 65px;
  border-radius: 0 5px 5px 0;
}

.mtcheck-offers button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 15px;
  height: 15px;
  content: "";
  background-image: url("../images/tick.svg");
  background-repeat: no-repeat;
  background-size: 15px;
  transform: translate(-50%, -50%);
}

.mtcheck-offers span {
  display: none;
}

/* mtcheck-table */

.mtcheck-table__item {
  display: flex;
  align-items: center;
}

.mtcheck-table__item-name {
  max-width: min(100%, 185px);
}

.mtcheck-table__item-name span {
  color: #949597;
}

.mtcheck-table__item-value {
  display: flex;
  flex: 1;
  align-items: center;
}

.mtcheck-table__item-value::before {
  display: inline-block;
  flex: 1;
  margin: 0 6px;
  content: "";
  border-bottom: 2px dotted var(--color-cararra);
}

.mtcheck-table__item:not(:last-child) {
  margin-bottom: 14px;
}

.mtcheck-table__item.mtcheck-table__item--margin {
  margin-bottom: 28px;
}

/* mtcheck-total */

.mtcheck-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}

.mtcheck-total__sum {
  font-weight: 700;
}

.mtcheck-total__sum span {
  font-size: 15px;
  font-weight: 400;
}

/* mtcheck-submit */

.mtcheck-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}

.mtcheck-submit__button {
  width: 100%;
  padding: 15px 0;
  margin-bottom: 18px;
  font-size: 17px;
}

.mtcheck-submit__by-phone {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.mtcheck-submit__by-phone::before {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-right: 9px;
  content: "";
  background-image: url("../images/phone.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.mtcheck-submit .checkbox__text {
  max-width: 237px;
}

/* mtcheck-summary */

.mtcheck-summary {
  position: sticky;
  top: 30px;
  display: none;
  padding: 30px 26px;
  margin-top: 53px;
  background-color: var(--color-light);
  border-radius: 6px;
  box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
}

.mtcheck-summary__head {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.mtcheck-summary__title {
  margin-right: 8px;
  font-size: 27px;
}

.mtcheck-summary__sum {
  margin-left: auto;
  font-size: 32px;
  font-weight: 700;
}

.mtcheck-summary__sum span {
  font-size: 20px;
  font-weight: 400;
}

.mtcheck-summary .mtcheck-table__item-name {
  display: flex;
  align-items: center;
}

.mtcheck-summary .mtcheck-table__item-name span {
  display: inline-block;
  width: 202px;
  margin-left: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mtcheck-summary .mtcheck-table__item-value {
  justify-content: flex-end;
}

.mtcheck-summary .mtcheck-table__item-value::before {
  display: none;
}

.mtcheck-summary .mtcheck-submit {
  flex-direction: column;
  align-items: center;
}

.mtcheck-summary .mtcheck-submit__button {
  order: 0;
  max-width: initial;
  margin-bottom: 20px;
}

.mtcheck-summary .mtcheck-submit__by-phone {
  order: 1;
  margin: 0 0 25px;
}

.mtcheck-summary .mtcheck-submit .checkbox {
  order: 2;
  margin: 0 auto;
}

.mtcheck-summary .mtcheck-submit .checkbox__text {
  max-width: 315px;
}

@media (min-width: 375px) {
  .mtcheck-products__actions {
    flex-direction: row;
  }
}

@media (min-width: 425px) {
  :root {
    --container-horizontal-offset: 35px;
  }

  .mtcheck-delivery__type .radio__text,
  .mtcheck-pay__type .radio__text {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .title--xl {
    font-size: 25px;
  }

  .title--md {
    font-size: 20px;
  }

  .title--sm {
    font-size: 17px;
  }

  .text--md {
    font-size: 16px;
  }

  .text--sm {
    font-size: 15px;
    line-height: 1.53;
  }

  .text--xs {
    font-size: 14px;
  }

  .checkbox__text {
    font-size: 14px;
  }

  .radio__text {
    font-size: 16px;
  }

  .counter {
    grid-template-columns: 38px 32px 38px;
  }

  .counter__action {
    font-size: 24px;
  }

  .counter__display {
    font-size: 14px;
  }

  .input {
    padding: 17px 21px;
    font-size: 16px;
  }

  .input.input--min {
    width: 100%;
  }

  .select__display,
  .select__item {
    padding: 17px 21px;
    font-size: 16px;
  }

  .textarea {
    padding: 20px 22px;
    font-size: 16px;
  }

  .mtcheck-display {
    padding: 54px 0 526px;
  }

  .mtcheck-display__title {
    margin-bottom: 36px;
  }

  .mtcheck-products__head {
    display: flex;
    margin-bottom: 22px;
  }

  .mtcheck-products__actions {
    padding-left: 17px;
  }

  .mtcheck-products__action {
    margin: 0 16px 4px 0;
  }

  .mtcheck-product {
    flex-wrap: nowrap;
    align-items: center;
    padding: 14px 0;
  }

  .mtcheck-product.mtcheck-product--deleted {
    padding-left: 117px;
  }

  .mtcheck-product__left {
    flex: 0 1 382px;
    justify-content: flex-start;
    margin-bottom: 0;
  }

  .mtcheck-product__wrapper {
    margin-top: 0;
  }

  .mtcheck-product__right {
    flex-basis: 260px;
    align-items: center;
    justify-content: space-between;
  }

  .mtcheck-product__image {
    margin-right: 37px;
  }

  .mtcheck-product__info {
    flex: 1 1 240px;
  }

  .mtcheck-product__properties {
    margin: 0 -9px 0 0;
  }

  .mtcheck-product__property {
    margin: 0 9px 0 0;
  }

  .mtcheck-product__count {
    position: relative;
    text-align: center;
  }

  .mtcheck-product__sign {
    position: absolute;
    max-width: 120px;
    margin-top: 6px;
    font-size: 13px;
  }

  .mtcheck-product__price {
    margin-right: 25px;
  }

  .mtcheck-product--deleted .mtcheck-product__right {
    justify-content: flex-end;
  }

  .mtcheck-products__summary {
    display: none;
  }

  .mtcheck-user {
    padding: 55px var(--container-horizontal-offset) 53px;
  }

  .mtcheck-user__head {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  .mtcheck-user__column {
    margin: 0;
  }

  .mtcheck-user__title {
    margin: 0 12px 0 0;
  }

  .mtcheck-user .info-btn {
    margin: 0 17px 0 0;
  }

  .mtcheck-user__buy {
    margin: 0;
  }

  .mtcheck-user__status {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .mtcheck-user__description {
    margin-bottom: 26px;
  }

  .mtcheck-register__data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px 13px;
    margin-bottom: 32px;
  }

  .mtcheck-register .input:not(:last-child),
  .mtcheck-register .select {
    margin-bottom: 0;
  }

  .mtcheck-register__location {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 14px;
    margin-bottom: 23px;
  }

  .mtcheck-register__password {
    margin-bottom: 35px;
  }

  .mtcheck-register__password .text {
    font-size: 15px;
  }

  .mtcheck-register__password fieldset {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  .mtcheck-login .input:not(:last-child) {
    margin-bottom: 0;
  }

  .mtcheck-login__data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 13px;
  }

  .mtcheck-login [type="submit"] {
    grid-column: span 2;
    padding: 17px 0;
  }

  .mtcheck-delivery,
  .mtcheck-pay {
    padding: 42px var(--container-horizontal-offset) 45px;
  }

  .mtcheck-delivery .message {
    display: none;
  }

  .mtcheck-pay__head {
    margin-bottom: 15px;
  }

  .mtcheck-confirm {
    padding: 37px var(--container-horizontal-offset) 34px;
  }

  .mtcheck-confirm__head {
    margin-bottom: 22px;
  }

  .mtcheck-offers {
    margin-bottom: 39px;
  }

  .mtcheck-offers span {
    display: inline-block;
    font-size: 15px;
  }

  .mtcheck-offers button {
    padding: 16px 24px;
  }

  .mtcheck-offers button::after {
    background-image: none;
  }

  .mtcheck-offers__coupon {
    margin-bottom: 18px;
  }

  .mtcheck-table__item-name {
    max-width: initial;
  }

  .mtcheck-table__item-value::before {
    margin: 0 15px;
  }

  .mtcheck-table__item.mtcheck-table__item--margin {
    margin-bottom: 34px;
  }

  .mtcheck-total__sum span {
    font-size: 20px;
  }

  .mtcheck-submit {
    margin-top: 65px;
  }

  .mtcheck-submit__button {
    max-width: 287px;
  }

  .mtcheck-submit__by-phone {
    margin-bottom: 37px;
  }

  .mtcheck-submit .checkbox__display {
    margin-right: 10px;
  }

  .mtcheck-submit .checkbox__text {
    max-width: initial;
  }
}

@media (min-width: 830px) {
  .mtcheck-product__left {
    flex: 0 1 460px;
  }
}

@media (min-width: 1024px) {
  .title--xl {
    font-size: 30px;
  }

  .title--md {
    font-size: 25px;
  }

  .title--sm {
    font-size: 19px;
  }

  .text--md {
    font-size: 19px;
  }

  .text--sm {
    font-size: 16px;
  }

  .text--xs {
    font-size: 15px;
  }

  .card {
    border-radius: 6px;
  }

  .checkbox__display {
    width: 25px;
    height: 25px;
  }

  .checkbox__text {
    font-size: 15px;
  }

  .counter {
    grid-auto-rows: 42px;
  }

  .counter__display {
    font-size: 16px;
  }

  .radio__display {
    width: 21px;
    height: 21px;
    margin-right: 16px;
  }

  .checkbox--gray .checkbox__text {
    font-size: 13px;
  }

  .radio__display::after {
    width: 7px;
    height: 7px;
  }

  .radio__text {
    font-size: 17px;
  }

  .input,
  .select__display,
  .select__item {
    font-size: 17px;
  }

  .textarea {
    padding: 18px 33px;
    font-size: 17px;
  }

  .mtcheck-display {
    padding: 50px 0 564px;
  }

  .mtcheck-display__title {
    margin-bottom: 42px;
  }

  .mtcheck-display__left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px 58px;
  }

  .mtcheck-products__actions {
    padding-left: 47px;
  }

  .mtcheck-products__info {
    display: flex;
  }

  .mtcheck-products__head .checkbox__display {
    margin-right: 20px;
  }

  .mtcheck-product {
    padding: 15px var(--container-horizontal-offset);
    margin: 0 calc(var(--container-horizontal-offset) * -1);
  }

  .mtcheck-product__left {
    flex: 0 1 532px;
  }

  .mtcheck-product__right {
    flex-basis: 293px;
  }

  .mtcheck-product .checkbox {
    position: static;
  }

  .mtcheck-product .checkbox__display {
    margin-right: 30px;
  }

  .mtcheck-product__properties {
    margin: 0 -30px -4px 0;
  }

  .mtcheck-product__property {
    margin: 0 30px 4px 0;
  }

  .mtcheck-product__count {
    position: static;
  }

  .mtcheck-product__sign {
    max-width: initial;
    margin-top: 8px;
    transform: translateX(-25%);
  }

  .mtcheck-product.mtcheck-product--deleted {
    padding-left: calc(172px + var(--container-horizontal-offset));
  }

  .mtcheck-user {
    padding: 33px var(--container-horizontal-offset) 43px;
  }

  .mtcheck-user__head {
    margin-bottom: 20px;
  }

  .mtcheck-user .info-btn {
    margin-right: 26px;
  }

  .mtcheck-user__buy {
    font-size: 16px;
  }

  .mtcheck-user__status {
    flex-direction: row;
    align-items: center;
  }

  .mtcheck-user__status-current {
    margin-right: 9px;
  }

  .mtcheck-user__description {
    margin-bottom: 30px;
  }

  .mtcheck-register__type .radio {
    margin-right: 62px;
  }

  .mtcheck-register__data {
    gap: 19px 26px;
    margin-bottom: 45px;
  }

  .mtcheck-register__location {
    gap: 22px 26px;
    margin-bottom: 41px;
  }

  .mtcheck-register__comment {
    margin-bottom: 45px;
  }

  .mtcheck-register__password .text {
    margin-bottom: 18px;
    font-size: 16px;
  }

  .mtcheck-register__password fieldset {
    gap: 26px;
  }

  .mtcheck-login__data {
    grid-template-columns: repeat(3, 1fr);
  }

  .mtcheck-login [type="submit"] {
    grid-column: span 1;
  }

  .mtcheck-delivery,
  .mtcheck-pay {
    padding: 30px var(--container-horizontal-offset) 45px;
  }

  .mtcheck-delivery__description,
  .mtcheck-pay__description {
    margin-bottom: 32px;
  }

  .mtcheck-delivery {
    margin: 0 0 0 calc(var(--container-horizontal-offset) * -1);
  }

  .mtcheck-pay {
    margin: 0 calc(var(--container-horizontal-offset) * -1) 0 0;
  }

  .mtcheck-confirm__head {
    margin-bottom: 35px;
  }

  .mtcheck-confirm__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .mtcheck-offers {
    flex-basis: 380px;
    margin-right: 34px;
  }

  .mtcheck-offers__coupon {
    margin-bottom: 22px;
  }

  .mtcheck-info {
    flex: 1 0 500px;
  }

  .mtcheck-table__item-name,
  .mtcheck-table__item-value {
    font-size: 17px;
  }

  .mtcheck-table__item.mtcheck-table__item--margin {
    margin-bottom: 30px;
  }

  .mtcheck-table__item--margin ~ .mtcheck-table__item p {
    max-width: min(100%, 260px);
  }

  .mtcheck-total__title {
    font-size: 19px;
  }

  .mtcheck-submit {
    flex: 1 1 100%;
    flex-direction: row;
    margin-top: 50px;
  }

  .mtcheck-submit .checkbox {
    order: 0;
  }

  .mtcheck-submit .checkbox__text {
    max-width: 269px;
  }

  .mtcheck-submit__by-phone {
    order: 1;
    margin: 0 34px 0 auto;
  }

  .mtcheck-submit__by-phone::before {
    width: 24px;
    height: 24px;
  }

  .mtcheck-submit__button {
    order: 2;
    margin-bottom: 0;
    font-size: 20px;
  }

  .mtcheck-products,
  .mtcheck-user,
  .mtcheck-confirm {
    grid-column: span 2;
  }
}

@media (min-width: 1366px) {
  :root {
    --design-mw: 1154px;
  }

  .title--xl {
    font-size: 36px;
  }

  .mtcheck-display {
    padding: 66px 0 516px;
  }

  .mtcheck-display__left {
    gap: 65px 74px;
  }

  .mtcheck-product {
    padding: 26px var(--container-horizontal-offset);
  }

  .mtcheck-product__name {
    margin-bottom: 8px;
  }

  .mtcheck-product__left {
    flex: 0 1 753px;
  }

  .mtcheck-register__data,
  .mtcheck-register__password fieldset {
    grid-template-columns: repeat(4, 1fr);
  }

  .mtcheck-login__data {
    grid-template-columns: 267px 267px 152px;
  }

  .mtcheck-login [type="submit"] {
    border-radius: 5px;
  }

  .mtcheck-delivery .message {
    display: flex;
    max-width: 480px;
    margin-top: 36px;
    font-size: 16px;
  }

  .mtcheck-offers {
    margin-right: 44px;
  }

  .mtcheck-table__item--margin ~ .mtcheck-table__item p {
    max-width: initial;
  }

  .mtcheck-submit .checkbox__text {
    max-width: 361px;
  }
}

@media (min-width: 1600px) {
  :root {
    --design-mw: 1475px;
  }

  .title--xl {
    font-size: 40px;
  }

  .mtcheck-display {
    padding: 76px 0 285px;
  }

  .mtcheck-display__title {
    margin-bottom: 57px;
  }

  .mtcheck-display__wrapper {
    display: grid;
    grid-template-columns: 919px 1fr;
    gap: calc(65px + var(--container-horizontal-offset));
    align-items: start;
  }

  .mtcheck-display__left {
    gap: 60px 58px;
  }

  .mtcheck-product__left {
    flex: 0 1 532px;
  }

  .mtcheck-register__data,
  .mtcheck-register__password fieldset {
    grid-template-columns: repeat(3, 1fr);
  }

  .mtcheck-delivery .message,
  .mtcheck-confirm .mtcheck-submit {
    display: none;
  }

  .mtcheck-table__item--margin ~ .mtcheck-table__item p {
    max-width: min(100%, 248px);
  }

  .mtcheck-summary {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1920px) {
  :root {
    --design-mw: 1704px;
  }

  .title--xl {
    font-size: 44px;
  }

  .mtcheck-display {
    padding: 76px 0 198px;
  }

  .mtcheck-display__wrapper {
    grid-template-columns: 1179px 1fr;
  }

  .mtcheck-product__left {
    flex: 0 1 728px;
  }

  .mtcheck-register__data,
  .mtcheck-register__password fieldset {
    grid-template-columns: repeat(4, 1fr);
  }

  .mtcheck-delivery .message {
    display: flex;
  }
}
